{% extends 'base.html'%}
{% block title %} Изменение пароля {% endblock%}
{% block content %}
<style>
    #id_new_password1,#id_new_password2{
        width: 500px;

    }
    .reset-password-container{
        margin-top: 10vh;
        height: 70vh;
    }
</style>
<div class="container reset-password-container">
    {% if validlink %}
    <h1>Изменение пароля!</h1>
    <p>Введите ваш новый пароль:</p>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Chage Password" class="btn btn-primary">
    </form>
    {% else %}
    <p> Некорректная ссылка, введите другую!</p>
    {% endif %}
</div>
{% endblock %}