{% extends 'base.html'%}
{% block title %} Изменение пароля {% endblock%}
{% block content %}
<style>
    #id_email{
        width: 500px;

    }
    .reset-password-container{
        margin-top: 10vh;
        height: 70vh;
    }
</style>
<div class="container reset-password-container">
    <h1>Забыли пароль?</h1>
    <br>
    <p>Введите вашу почту, и мы вышлем туда инструкцию по смене пароля.</p>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Reset" class="btn btn-primary">
    </form>
</div>
{% endblock %}