{% extends 'base.html' %}
{% block title %} Главная{% endblock %}
{% block content %}

<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          {% include 'partials/_alerts.html' %}
          <h1 class="display-4 mb-4">
            Котопес - платформа, где вы найдете своих верных друзей!
          </h1>
          <p class="lead">Поиск животных по виду, породе, и возрасту. 
            Введите желаемые характеристики: </p>
          <div class="search">
            <form action="{% url 'search' %}"> <!-- { % url 'search.html' %} -->
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Search</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Имя">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Вид</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">Виды</option>
                    <option value="dog">Собак</option>
                    <option value="cat">Кот</option>
                    <option value="humster">Грызун</option>
                    <option value="fish">Рыбка</option>
                    <option value="bird">Птичка</option>
                    <option value="reptile">Рептилии</option>
                    <option value="other">Другие</option>
                    </select>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Города</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">Города (все)</option>
                    <option value="KZN">Казань</option>
                    <option value="NCH">Набережные Челны</option>
                    <option value="ALM">Альметьевск</option>
                    <option value="MSC">Москва</option>
                    <option value="SPB">Санкт-Петербург</option>
                    <option value="AST">Астрахань</option>
                    <option value="KGP">Когалым</option>
                    <option value="KRR">Краснодар</option>
                    <option value="SCH">Сочи</option>
                    <option value="KGD">Калининград</option>
                    <option value="PEE">Пермь</option>
                    <option value="NUX">Новый Уренгой</option>
                    <option value="MMK">Мурманск</option>
                    <option value="VOG">Волгоград</option>
                    <option value="OGZ">Владикавказ</option>
                    <option value="GRV">Грозный</option>
                    <option value="UUS">Южно-Сахалинск</option>
                    <option value="PKS">Петропавловск-Камчатский</option>
                    </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Порода</label>
                  <input type="text" name="breed" class="form-control" placeholder="Порода">
                </div>

                <div class="col-md-6 mb-3">
                  <label class="sr-only">Ценник</label>
                  <input type="text" name="city" class="form-control" placeholder="Цена (в рублях)">
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Поиск</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Последние выставленные объявления</h3>
      <div class="row">
        <!-- Listing 1 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="static/img/homes/home-1.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">100000000,00</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">Барон</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Екатеринбург</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Порода: Бернский зендхаунд</div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Вид: Собак</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 2 дня назад</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>

        <!-- Listing 2 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="static/img/homes/home-1.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">0,00</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">Живоглот</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Казань</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Порода: Дворняжка</div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Вид: Кот</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 5 дней назад</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>

        <!-- Listing 3 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="static/img/homes/home-1.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">500,00</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">Лариса Павловна</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Набережные Челны</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Порода: Черная</div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> Вид: Крыса</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 1 неделю назад</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Широкий выбор</h3>
          <p>Каждый пользователь найдет идеального питомца под свои запросы и желания.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Ответственность</h3>
          <p>Вся информация о животных проверяется нашими специалистами, что гарантирует безопасность и здоровье питомцев.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Доброе дело</h3>
          <p>Возможность размещать объявления о поиске новых владельцев для брошенных или ненужных животных, что помогает животным найти новый дом и создать счастливую семью.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}