{% extends 'base.html' %}
{% block title %} Создание нового объявления {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <h1>
        {%if update %}
        Обновить
        {% else %}
        Создать
        {% endif %}
    </h1>
    {% if update %}
        <form action="{% url 'update' pk%}" method="POST" enctype="multipart/form-data">
    {% else %}
        <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        {%if update %}
        <button class="btn btn-primary" type="submit">Изменить</button> 
        {% else %}
        <button class="btn btn-primary" type="submit">Создать</button> 
        {% endif %}
    </form>
</div>
{% endblock %}